<div class="container">
  <h1><%= @product.sku %></h1>
  <p><%= @product.description %></p>
  <p><%= @product.detailtechniques %></p>
  <h3><%= @product.price_cents %></h3>

  <%= simple_form_for [@product, @orderdetail] do |f| %>
    <%= f.input :quantity, collection: 1..10 %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>
</div>
